:root {
  --white: #ffffff;
  --black: #050505;
  --secondary: #a9c3ed;
  --primary: #83a8f3;
  --accent: #3772ff;
  --accent-darker: #1e3c82;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(
    90deg,
    var(--black) 7%,
    var(--accent) 7%,
    var(--accent) 9%,
    white 9%
  );
  background-repeat: no-repeat;
}

header,
main {
  margin-left: 11vw;
}

main {
  max-width: 1200px;
}

.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  font-size: 6.5vmax;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  white-space: pre-wrap;
}

.ultimate-buttons-wrapper button {
  background-color: transparent;
}

#ultimate-save {
  border: 2px solid var(--accent);
}

#ultimate-save:hover {
  background-color: var(--accent);
  color: var(--white);
}

#ultimate-clear {
  border: 2px solid var(--secondary);
}

#ultimate-clear:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--white);
}

.row:nth-child(n + 1) {
  border-right: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
}

.hour {
  font-size: 1.5rem;
}

input,
textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid var(--secondary);
  padding: 10px;
}

input,
textarea,
button {
  transition: all 0.2s cubic-bezier(0.83, 0.15, 0.58, 1.54);
}

textarea#daily-task:focus {
  transform: scale(1.02);
  border: 2px solid;
  position: relative;
  z-index: 1;
}

.row:has(.past) {
  background-color: var(--secondary);
  background: repeating-linear-gradient(
    45deg,
    var(--secondary),
    var(--secondary) 2rem,
    var(--primary) 2rem,
    var(--primary) 3.5rem
  );
}

.past textarea:focus,
.past button:focus-visible {
  background: repeating-linear-gradient(
    45deg,
    var(--secondary),
    var(--secondary) 2rem,
    var(--primary) 2rem,
    var(--primary) 3.5rem
  );
}

.past textarea:not(:focus) {
  opacity: 0.75;
}

.present,
.present textarea,
.present button {
  background-color: var(--accent);
  color: var(--white);
}

.future,
.future textarea,
.future button {
  background-color: var(--primary);
  color: var(--black);
}

.buttons-wrapper button {
  border-left: 1px solid var(--secondary);
  color: var(--white);
  transition: all 0.25s;
}

button:focus,
.btn.focus,
.btn:focus {
  box-shadow: none;
}

button:focus-visible {
  border: 2px solid var(--black);
  transform: scale(1.05);
  position: relative;
  z-index: 1;
}

.buttons-wrapper button i {
  color: var(--white);
}

button i.saved {
  font-size: 20px;
  animation: confirm 0.2s cubic-bezier(0.83, 0.15, 0.58, 1.54);
}

.buttons-wrapper button:hover,
.buttons-wrapper button:focus,
.buttons-wrapper button i.saved {
  color: var(--black);
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

footer {
  height: 300px;
  margin-left: 9%;
  color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  text-shadow: 1px 1px 10px var(--accent);
}

#currentTime {
  font-size: 5vmax;
}

@keyframes confirm {
  0%,
  100% {
    transform: skewY(0deg) rotate(0deg);
  }
  50% {
    transform: skewY(15deg) rotate(-5deg);
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
  }

  #container {
    padding: 0.5rem;
  }
}
